{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ title }}
                </h1>
                <h2 class="subtitle">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a class="button" href="{{ path('app_logout') }}">Logout</a>
                        <a class="button" href="{{ path('easyadmin') }}">Admin</a>
                    {% else %}
                        <a class="button" href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </h2>
            </div>
        </div>
    </section>
    <img src="/img/UML.png">
{% endblock %}
